@import "../../setting/variables.scss";
/* 针对 container 的过渡 */
.container {
  padding-top: 60px;
  display: flex;
  .menuContainerOpen,
  .menuContainerClose {
    // overflow: hidden;
    position: relative;
    transition: all 0.3s ease; /* 过渡所有属性 */
    .add {
      width: 100%;
      background-color: transparent;
    }
  }

  .menuContainerOpen {
    width: 20rem; /* 打开菜单时的宽度 */
    box-shadow: 5px 0px 10px rgba(0, 0, 0, 0.1);
  }

  .menuContainerClose {
    width: 0px; /* 关闭菜单时的宽度 */
    box-shadow: 2px 0px 12px rgba(0, 0, 0, 0.3);
  }

  .menuControlBtn {
    z-index: 10;
    height: calc(100vh - 60px);
    position: absolute;
    right: -30px;
    background-color: transparent !important;
    color: #929292 !important;
    &:hover {
      background-color: rgba($color: #828080, $alpha: 0.1) !important;
      color: #6d6d6d !important;
    }
  }

  .menu {
    height: calc(100vh - 60px);
    overflow-y: auto;
    font-size: 14px;
    color: rgba(0, 0, 0, 0.85);
    white-space: nowrap;
    padding: 16px;

    &::-webkit-scrollbar {
      width: 4px;
    }

    &::-webkit-scrollbar-track {
      background: transparent;
    }

    &::-webkit-scrollbar-thumb {
      background: rgba(0, 0, 0, 0.15);
      border-radius: 4px;

      &:hover {
        background: rgba(0, 0, 0, 0.3);
      }
    }
  }

  .articleMainContent {
    flex: 1;
  }

  .BtnLight {
    background-color: transparent;
    color: #000;
    margin-right: 10px;
    &:hover {
      color: #4096ff !important;
      //   border-color: #f59b4c !important;
    }
  }
  .BtnDark {
    color: #fff;
    background-color: transparent;
    margin-right: 10px;
    &:hover {
      // color: #4096ff !important;
      //   border-color: #f59b4c !important;
    }
  }
  .leftMenu {
    position: absolute;
    z-index: 1000;
    background-color: white;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    min-width: 160px;
    display: none; /* 默认隐藏 */
  }

  .leftMenu.show {
    display: block; /* 显示菜单 */
  }

  .leftMenuItem {
    padding: 8px 16px;
    cursor: pointer;
    font-size: 14px;
    // color: #333;
    display: flex;
    align-items: center;
    gap: 10px;
    transition: background-color 0.2s ease;
  }

  .leftMenuItem:hover {
    background-color: #f5f5f5;
  }
}

/* 移动端样式 */
@media (max-width: $breakpoint-md) {
  .menuContainerOpen,
  .menuContainerClose {
    display: none;
  }
  .articleMainContent {
    // width: 100% !important;
  }
}
