.container {
  width: 100%;
  // max-height: 90vh;
  position: relative;

  .contentInPage {
    position: sticky;
    top: 10px;
    margin-bottom: 30px;

    * {
      font-family: Courier, monospace !important;
    }
  }
}
