@import "../../setting/variables.scss";
.container {
  padding-top: 60px;
  .mainInfo {
    width: 100%;
    height: calc(100vh - 60px);
    // background-image: url("https://nfassetoss.southcn.com/__asset/e8450061a1/cac6b395d3.jpg");
    background-size: auto calc(100vh - 60px); /* 宽度自动计算，高度固定为 100% */
    background-position: center; /* 背景图居中 */
    background-repeat: no-repeat; /* 防止重复背景 */
    background-size: cover; /* 背景图保持比例填满容器 */
    overflow: hidden; /* 避免背景溢出 */
    padding-top: 20vh;
    .icon {
      display: block;
      width: 200px;
      height: 200px;
      margin: 0 auto;
    }
    .title {
      font-weight: 600;
      font-size: 2rem;
      margin: auto;
      text-align: center;
      color: #fff;
    }
    .desc {
      font-size: 1.25rem;
      margin: auto;
      text-align: center;
      color: #fff;
    }
  }
  .main {
    padding: 20px;
    display: flex;
    justify-content: center;
    .leftCardList {
      flex: 1;
      max-width: 800px;
      margin-right: 3rem;
      .leftCard {
        box-shadow: $box-shadow-md;
        margin-top: 20px;
        padding: 20px;
        border-radius: 2px;
      }
    }
    .rightCardList {
      .rightCardItem {
        box-shadow: $box-shadow-md;
        width: 300px;
        border-radius: 2px;
        margin-bottom: 30px;
      }
    }
  }
  .hr {
    border-color: rgba($color: #000000, $alpha: 0.2);
    border-width: 1px;
    margin-bottom: 20px;
  }
  .cardTitle {
    font-size: 30px;
    font-weight: bold;
  }
}
