.container {
  margin: 0 auto;
  padding: 20px;
  //   background: #f5f5f5;
  height: 100vh;
  .bg {
    position: fixed;
    width: 100vw;
    height: 100vh;
    z-index: 0;
    .bgImg {
      position: fixed;
      z-index: -2;
      // background-color: #27b3df;
    }
    .bgPar {
      position: fixed;
      z-index: -1;

      width: 100vw;
      height: 100vh;
    }
  }
}

.hero {
  text-align: center;
  padding: 200px 20px;
}

.title {
  font-size: 40px;
  font-weight: bold;
}

.subtitle {
  font-size: 18px;
  margin: 10px 0;
}

.buttons {
  display: flex;
  justify-content: center;
  gap: 15px;
  margin-top: 20px;
}

/* ========== 新闻列表 ========== */
.newsContainer {
  display: flex;
  justify-content: space-around;
  margin-top: 30px;
}

.card {
  width: 320px;
}

.tag {
  background: red;
  color: white;
  padding: 2px 5px;
  border-radius: 3px;
}

.date {
  display: block;
  font-size: 12px;
  color: gray;
  margin-top: 10px;
}
