.container {
  display: flex;
  //   justify-content: space-between;
  height: 360px;
  .cardList {
    margin-right: 1.5rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    .card {
      width: 280px;
      height: 160px;

      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      //   margin-bottom: 20px;
      border-radius: 30px;
      /* 背景渐变 */
      &.first {
        background: linear-gradient(45deg, #ff6a00, #ee0979, #ff6a00, #ffd200);
      }

      &.second {
        background: linear-gradient(90deg, #ffee58, #64dd17);
      }
      .num {
        font-size: 30px;
        font-weight: bold;
      }
      .desc {
        align-items: start;
        justify-items: self-start;
      }
    }
  }
  .slider {
    height: 100%;
    flex: 1;
    border-radius: 30px;
    background-color: #ff9a8b;
    overflow: hidden;

    .sliderItem {
      //   border-radius: 20px;
      position: relative;
      height: 360px;
      padding: 20px 40px;
      background: linear-gradient(
        45deg,
        #ff9a9e,
        #fad0c4,
        #fbc2eb,
        #a18cd1,
        #fbc2eb
      );
      .title {
        position: relative;
        font-size: 30px;
        font-weight: bold;
        margin-top: 20px;
        margin-bottom: 20px;
      }
      .subTitle {
        position: relative;
        font-size: 20px;
        font-weight: 600;
        margin-bottom: 10px;
      }
      .desc {
        position: relative;
        color: #0b1926d8;
        z-index: 1;
        max-width: calc(100% - 10rem);
      }
      .bgImg {
        position: absolute;
        // z-index: -1;
        width: 10rem;
        bottom: -40px;
        right: -40px;
      }
      .btns {
        position: absolute;
        bottom: 30px;
        .Btn {
          width: 150px;
          height: 50px;
          border-radius: 30px;
          margin-right: 20px;
        }
      }
    }
  }
}
